
/* modify the text position  */
.search-bar{
    position: absolute;
    top: 30%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
  
}
.search-bar > input{
    width: 30% !important;
}
/* modify the div position */
.search-bar-over-image{
position: relative;
}
.backgroundImage{
    opacity: 0.3;
    margin-top: -100px;
    
}
