body{
    background-color: #F5F6FA !important;
}
.card-button{
    margin-top: 3%;
    width: 100%;
    height: 50%;
    padding-right: 9%;
}
.card-container{
    padding-left: 11%;
    margin-top: 70px;
}

.card{
    margin: 1%;
    border: none !important;
    border-radius: 10px !important;
    box-shadow: 5px 5px 10px lightgray;
}
.card-button > button{
    border: none;
    padding: 5px 10px;
    border-radius: 5px;
}