body{
    background-color: #F5F6FA !important;
}
.main {
    margin-left: 260px; 
    font-size: 28px; 
    padding: 0px 10px;
  }
  .table-design{
      margin-top: 20px;
      padding-top: 20px;
      width: 95%;
      border-radius: 10px;
      padding-bottom: 170px;
      background-color: white;
  }
  .volunteerList{
    margin-left: 240px;
    padding-left: 30px;
    padding-top: 10px;
    padding-bottom: 10px;
    background-color: white;
  }
  @media (max-width: 876px) {  
    .main{
      margin-left: 160px;
    }
  }
  
